<div>
  <h1>Program</h1>
  {{#with program}}
    {{#with excursion}}
      <h2> Excurcion: "{{name}}"</h2>
      <ul>
        <li>Location:
          {{#with location}}
            {{city}},
            {{country}}
          {{/with}}</li>
        <li> Date: {{date}}</li>
      </ul>

      <hr />
      <br>
      <ol>
        {{#each program}}
          <li><b>{{name}}</b></li>
          <hr>
          <ul>
            <li>{{type}}</li>
            <li>{{duration}} hours</li>
            {{#with details}}
              <li>
                {{#with museum}}
                  {{name}}
                  {{#with location}}
                    ({{address}},
                    {{city}},
                    {{country}})
                  {{/with}}
                <ul>
                  {{#each exhibits}}
                    <li>
                      {{name}},
                      {{artist}},
                      {{description}},
                      {{#if audio_guide}}
                        (there is an audio guide)
                      {{/if}}
                    </li>
                  {{/each}} 
                </ul>    
              </li>
              {{/with}}

                {{#with venue}}
                  {{name}}
                  {{#with location}}
                    ({{address}},
                    {{city}},
                    {{country}})
                  {{/with}}
                {{/with}}  
                  {{#each performers}}  
                  {{name}}, {{type}}   
                  {{/each}}
                  
              <li>
                {{#with guide}}
                  {{name}},
                  {{language}},
                  {{rating}}
                {{/with}}
              </li>
            <br>
            <br>
            {{/with}}
          </ul>
        {{/each}}
      </ol>
    {{/with}}
  {{/with}}
</div>