<header>
  <div class='card py-1 px-3'>
    <div class='nav'>
      {{#with navigation}}
        {{#each links}}
          <a
            class='nav-item nav-link me-5'
            href='{{href}}'
          >{{text}}</a>
        {{/each}}
      {{/with}}
    </div>
  </div>

  {{#with header}}
    <h2 class='mt-5 mb-3'>{{title}}</h2>
    {{#with button}}
      <a
        href='{{link}}'
        class='btn btn-outline-secondary'
      >{{text}}</a>
    {{/with}}
  {{/with}}

  <div class='my-5'>
    <hr />
  </div>
</header>

<main>
 {{>cartGoodsItem}}

    <div class='my-5'>
        <hr />
    </div>

    {{#with total}}
        <h4 class="py-2">{{title}}</h4>
        <h2 class="py-2">{{amount}}</h2>
        <p>{{delivery}}</p>
         {{#each buttons}}
             {{#with this}}
             <div>
                <a href="{{link}}" class="btn 
            {{#if isSuccess}} btn-success {{/if}}
            {{#if isOutline}} btn-outline-success {{/if}} my-3">{{text}}</a> 
             {{/with}}
             {{/each}}
             </div>
    {{/with}}

     <div class='my-5'>
        <hr />
    </div>

    {{#with goodsOtherBlock}}
    <h2 class="text-center">{{title}}</h2>

    
     <div class='row'>
    {{#each cards}}
      <section class='col-4'>
        <img
          class='card-img-top'
          src='{{image}}'
          alt='product photo'
        />
        <div class='card'>
          <div class='card-body'>
            <div class='m-1'><b>{{title}}</b></div>
            <p>{{description}}</p>
            {{#if isHot}}<button
                class='btn btn-warning rounded-pill'
              >HOT</button>{{/if}}
            {{#if idNew}}<button
                class='btn btn-primary rounded-pill'
              >New</button>{{/if}}
          </div>
        </div>
      </section>
    {{/each}}
    {{/with}}
  </div>

    <div class='my-5'>
        <hr />
    </div>

    
    <div class="card bg-dark">
        <div class="card-body ps-3"></div>
        {{#with subscribe}}
            <h2 class="text-light ps-3">{{header}}</h2>
            <p class="text-light ps-3">{{description}}</p>
            {{#each buttons}}
            {{#with this}}
            <div class="py-3 ps-3">
                <a class="btn btn-primary" href="{{link}}">{{text}}</a>
            </div>
            {{/with}}
            {{/each}}
        {{/with}}
        </div>
    </div>
    
    <div class='my-5'>
        <hr />
    </div>

</main>

 <footer>
    <div class='nav'>
    {{#each footer}}
      <div class='nav-item col-2'>
        {{#each this}}
          <a
            class='nav-link mx-5'
            href='{{link}}'
          >{{text}}</a>
        {{/each}}
      </div>
    {{/each}}
    </div>
  </footer>