<div class='card'>
  <div class="card-body">
  <div class='card'>
    <div class='card-body'>
        {{#with heading}}
            {{#with main}}
                <h1>{{title}}</h1>
                <p>{{text}}</p>
                {{#with button_text}}
                    <div><button
                        class='btn btn-primary'
                    >{{solid}}</button></div>
                    <br />
                    <br />
                    <div><button
                        class='btn btn-outline-primary'
                    >{{outline}}</button></div>
                {{/with}}
            {{/with}}
        </div>
    </div>
    
    <br>
    <div class="card">
        <div class='card-body'>
            {{#with second}}
                <h2>{{title}}</h2>
                <p>{{text}}</p>
                {{#with button_text}}
                <div><button
                    class='btn btn-secondary'
                    >{{solid}}</button></div>
                <br />
                <div><button
                    class='btn btn-outline-secondary'
                    >{{outline}}</button></div>
            {{/with}}
            {{/with}}
            {{/with}}
        </div>
        </div> 
    </div>
</div>

<br>
        <div class="card">
            <div class="card-body">
                {{#with nested_display}}
               <div class="display-1">{{title}}</div> 
                <div class="card">
                    <div class="card-body">
                        {{#with children_display}}
                        <div class="display-4">{{title}}</div>
                        <p>{{text}}</p>
                        {{#with button}}
                        <button class="btn btn-outline-warning">{{text}}</button>
                        {{/with}}
                        {{/with}}
                    </div>
                </div>   
            </div>
            <div>
            <h6>{{header_text}}</h6>
                {{#with button}}
                    <button class="btn btn-info">{{text}}</button>
                {{/with}}
            {{/with}}
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                {{#with paragraph}}
                <p class="text-uppercase">{{title}}</p>
                <p class="text-lowercase">{{text}}</p>
                {{#with button}}
                <button class="btn btn-link"><a href="{{url}}">{{text}}</a></button>
                {{/with}}
                <div class="card">
                    <div class="card-body">
                        {{#each list_name}}
                        <ul>
                            <li> 
                            <button class="btn btn-link"><a href="{{url}}">{{text}}</a></button></li>
                        </ul>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    {{/with}}
      
    

