{{#each goodsBlock}}
  <div class='card my-2'>
      <div class='card-body row col-12'>
        {{#with this}}
        <div class="col-2 my-2">
            <img src="{{image}}" />
        </div>
        <div class="col-4">
            <h5>{{name}}</h5>
            <p>{{description}}</p>
        </div>
        {{#with price}}
        <div class="col-2 py-3">
            <p>{{title}}</p>   
            <h5>{{value}}</h5>
        </div>
        {{/with}}
        <div class="col-2 py-3">
            <p>{{amount}}</p>
        </div>
       
        <div class="col-2">
             {{#each buttons}}
             {{#with this}}
            <a class="btn 
            {{#if isPrimary}} btn-primary {{/if}}
            {{#if isDanger}} btn-outline-danger {{/if}} my-3">{{text}}</a> 
             {{/with}}
             {{/each}}
        </div>
        
      </div>
    {{/with}}
  </div>
{{/each}}